
    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="assets/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="assets/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="assets/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="assets/js/custom.min.js"></script>
    <!-- google maps api -->
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyBWyTcX_OiCO3K0mSrJ51NNPwMZBkkcQyE&sensor=true"></script>
    <script src="assets/plugins/gmaps/gmaps.min.js"></script>
    <script src="assets/plugins/gmaps/jquery.gmaps.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <script>
     $(document).ready(function(){
        var locations = [
      ['<a href="google.com">Bondi Beach</a>', -33.890542, 151.274856, 4],
      ['<a href="google.com">Coogee Beach</a>', -33.923036, 151.259052, 5],
      ['Cronulla Beach', -34.028249, 151.157507, 3],
      ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
      ['Maroubra Beach', -33.950198, 151.259302, 1]
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(-33.92, 151.25),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
      map = new GMaps(
      {
        el: '#markermap',
        lat: -33.863276,
        lng: 151.207977
        
      });
      map.addMarker(
      {
        lat: -33.863276,
        lng: 151.207977,
        title: '@nd Marker with InfoWindow',
        infoWindow: {
          content: '<p>Your 2nd Content</p>'
        }
      });
    });

    $(document).ready(function(){
        $.ajax({ url: "https://newsapi.org/v2/everything?q=bitcoin&from=2020-02-12&sortBy=publishedAt&apiKey=ee0269535b644a878a588ded696f6819",
                context: document.body,
                success: function(data){
                    console.log(data);
                    var html;
                    var html = '<div class="row show-grid">';

                    $(data.articles).each(function(){
                        var $item = $(this);
                        if($item.attr("description")) {
                            html +='<div class="col-xs-6 col-sm-4">';
                            html += '<h4><a href ="' + $item.attr("url") + '" target="_new">' +
                                $item.attr("title") + '</a></h4> ' +
                                '<img src="' + $item.attr("urlToImage") + '" width="100%">' +
                                '<p>' + $item.attr("description") + '</p>';
                            html +='</div>';
                        }                    
                    });

                    html += '</div>';

                    $('#news').append(html);
                }});
        });
    </script>

